<!-- Validation failure messages -->
<% if @target.errors.any? %>
  <% @target.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Target #<%= @target.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_target/<%= @target.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      
      

      <!-- Label and input for company_id -->
      <div class="form-group">
        <label for="company_id" class="control-label">
          Company
        </label>

        <%= select_tag(:company_id, options_from_collection_for_select(Company.all, :id, :name, @target.company_id), :class => "form-control") %>
      </div>

      <button class="btn btn-warning">
        Update Target
      </button>
      or
      <a href="/targets/<%= @target.id %>">Cancel</a>
    </form>
  </div>
</div>
