<div class="page-header">
  <h3>Target #<%= @target.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @target.user.present? %>
          <a href="/users/<%= @target.user_id %>">
            <%= @target.user.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Company</dt>
      <dd>
        <% if @target.company.present? %>
          <a href="/companies/<%= @target.company_id %>">
            <%= @target.company.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/targets" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @target.user %>
        <a href="/targets/<%= @target.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_target/<%= @target.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
