<!-- Validation failure messages -->
<% if @ask.errors.any? %>
  <% @ask.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Ask #<%= @ask.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_ask/<%= @ask.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for company_id -->
      <div class="form-group">
        <label for="company_id" class="control-label">
          Company
        </label>

        <%= select_tag(:company_id, options_from_collection_for_select(Company.all, :id, :name, @ask.company_id), :class => "form-control") %>
      </div>

      <!-- Label and input for question_id -->
      <div class="form-group">
        <label for="question_id" class="control-label">
          Question
        </label>

        <input type="text" id="question_id" name="question_id" placeholder="Question" class="form-control" value="<%= @ask.question_id %>">
      </div>

      <button class="btn btn-warning">
        Update Ask
      </button>
      or
      <a href="/asks/<%= @ask.id %>">Cancel</a>
    </form>
  </div>
</div>
