<div class="page-header">
  <h3>Response #<%= @response.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Body</dt>
      <dd><%= @response.body %></dd>

      <dt>Question</dt>
      <dd><%= @response.question_id %></dd>

      <dt>User</dt>
      <dd><%= @response.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/responses" class="btn btn-primary">
        Back
      </a>
      <a href="/responses/<%= @response.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_response/<%= @response.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Response has many feedbacks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Feedbacks
      </li>

      <% @response.feedbacks.each do |feedback| %>
        <li class="list-group-item">
          <a href="/feedbacks/<%= feedback.id %>">
            <%= feedback.rating %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/feedbacks/<%= feedback.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/feedbacks/<%= feedback.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_feedback/<%= feedback.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
