<!-- Validation failure messages -->
<% if @feedback.errors.any? %>
  <% @feedback.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Feedback #<%= @feedback.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_feedback/<%= @feedback.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for rating -->
      <div class="form-group">
        <label for="rating" class="control-label">
          Rating
        </label>

        <input type="text" id="rating" name="rating" placeholder="Rating" class="form-control" value="<%= @feedback.rating %>">
      </div>

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <input type="text" id="body" name="body" placeholder="Body" class="form-control" value="<%= @feedback.body %>">
      </div>

      <!-- Label and input for response_id -->
      <div class="form-group">
        <label for="response_id" class="control-label">
          Response
        </label>

        <%= select_tag(:response_id, options_from_collection_for_select(Response.all, :id, :body, @feedback.response_id), :class => "form-control") %>
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :created_at, @feedback.user_id), :class => "form-control") %>
      </div>

      <button class="btn btn-warning">
        Update Feedback
      </button>
      or
      <a href="/feedbacks/<%= @feedback.id %>">Cancel</a>
    </form>
  </div>
</div>
