<div class="page-header">
  <h3>Feedback #<%= @feedback.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Rating</dt>
      <dd><%= @feedback.rating %></dd>

      <dt>Body</dt>
      <dd><%= @feedback.body %></dd>

      <dt>Response</dt>
      <dd>
        <% if @feedback.response.present? %>
          <a href="/responses/<%= @feedback.response_id %>">
            <%= @feedback.response.body %>
          </a>
        <% end %>
      </dd>

      <dt>Reviewer</dt>
      <dd>
        <% if @feedback.reviewer.present? %>
          <a href="/users/<%= @feedback.reviewer_id %>">
            <%= @feedback.reviewer.created_at %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/feedbacks" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @feedback.reviewer %>
        <a href="/feedbacks/<%= @feedback.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_feedback/<%= @feedback.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
