<div class="page-header">
  <h3>Review Request #<%= @review_request.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Reviewer</dt>
      <dd>
        <% if @review_request.reviewer.present? %>
          <a href="/users/<%= @review_request.reviewer_id %>">
            <%= @review_request.reviewer.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Response</dt>
      <dd>
        <% if @review_request.response.present? %>
          <a href="/responses/<%= @review_request.response_id %>">
            <%= @review_request.response.body %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/review_requests" class="btn btn-primary">
        Back
      </a>
      <a href="/review_requests/<%= @review_request.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_review_request/<%= @review_request.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
