<div class="page-header">
  <h3>Review Request #<%= @review_request.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Applicant</dt>
      <dd>
        <% if @review_request.applicant.present? %>
          <a href="/users/<%= @review_request.applicant_id %>">
            <%= @review_request.applicant.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Reviewer</dt>
      <dd>
        <% if @review_request.reviewer.present? %>
          <a href="/users/<%= @review_request.reviewer_id %>">
            <%= @review_request.reviewer.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Response</dt>
      <dd><%= @review_request.response_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/review_requests" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @review_request.applicant %>
        <a href="/review_requests/<%= @review_request.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_review_request/<%= @review_request.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
